fastapi
uvicorn[standard]
gunicorn
numpy
pandas
tensorflow
scikit-learn
earthengine-api
requests
python-dateutil
Pillow
joblib
python-multipart
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
setuptools
